<div class="notices">
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- status of users -->
        <div class="status-wrapper">
          <div class="status-card">
            <div class="profile-picture">
              <img
                src="./../../../assets/Navbar/254606245_1517423345294805_2281784650713058842_n.jpg"
                alt="historie 1"
              />
            </div>
            <p class="username">manuel_mayo344</p>
          </div>

          <div class="status-card">
            <div class="profile-picture">
              <img
                src="./../../../assets/Body/6aed77_76cbb0219edd4e13acd8bd03daa36dff_mv2.jpg"
                alt="historie 1"
              />
            </div>
            <p class="username">tomorrow</p>
          </div>
          <div class="status-card">
            <div class="profile-picture">
              <img
                src="./../../../assets/Body/ya-hay-fecha-para-edc-mxico-2016-body-image-1441315673.jpg"
                alt="historie 1"
              />
            </div>
            <p class="username">edc_mex</p>
          </div>
          <div class="status-card">
            <div class="profile-picture">
              <img
                src="./../../../assets/Body/1366_2000.jpeg"
                alt="historie 1"
              />
            </div>
            <p class="username">apple_mx</p>
          </div>
          <div class="status-card">
            <div class="profile-picture">
              <img
                src="./../../../assets/Body/Dark-Souls-3-1-1000x576.jpg"
                alt="historie 1"
              />
            </div>
            <p class="username">user_name_5</p>
          </div>
          <div class="status-card">
            <div class="profile-picture">
              <img
                src="./../../../assets/Body/Tomorrowland_around-the-world-cartel.jpg"
                alt="historie 1"
              />
            </div>
            <p class="username">user_name_6</p>
          </div>
          <div class="status-card">
            <div class="profile-picture">
              <img
                src="./../../../assets/Body/ya-hay-fecha-para-edc-mxico-2016-body-image-1441315673.jpg"
                alt="historie 1"
              />
            </div>
            <p class="username">user_name_7</p>
          </div>
          <div class="status-card">
            <div class="profile-picture">
              <img
                src="./../../../assets/Body/Dark-Souls-3-1-1000x576.jpg"
                alt="historie 1"
              />
            </div>
            <p class="username">user_name_8</p>
          </div>
        </div>
        <!-- posts of users -->
        <div class="post">
          <div class="info">
            <div class="profile-pic">
              <img
                src="./../../../assets/Navbar/254606245_1517423345294805_2281784650713058842_n.jpg"
                alt="profile-info"
              />
            </div>
            <p class="usernameInfo">manuel_mayo344</p>
            <a class="options" href="#"><li>...</li></a>
            <div class="pic-post">
              <img
                src="./../../../assets/Body/Dark-Souls-3-1-1000x576.jpg"
                alt="post"
              />
              <div class="interactions">
                <i class="far fa-heart"></i>
                <i class="far fa-comment"></i>
                <i class="far fa-paper-plane"></i>
                <i class="far fa-bookmark mark"></i>
              </div>
              <div class="footer">
                <p class="likes">10,000 likes</p>
                <p class="footer_post">
                  <b>manuel_mayo344</b> Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. Impedit iste fuga doloremque laborum
                  adipisci eius nemo! Corporis, a. Fugiat nobis reiciendis nam
                  rerum provident ad esse quas possimus! Cumque, assumenda!
                </p>
                <p class="time-post">HACE 8 MINUTOS</p>
                <hr />
                <div class="comments-area">
                  <i class="far fa-smile emoji"></i>
                  <input
                    type="text"
                    class="comment-box"
                    placeholder="Agrega un comentario..."
                  />
                  <button type="button" class="btn btn-link">Publicar</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="post">
          <div class="info">
            <div class="profile-pic">
              <img
                src="./../../../assets/Body/6aed77_76cbb0219edd4e13acd8bd03daa36dff_mv2.jpg"
                alt="profile-info"
              />
            </div>
            <p class="usernameInfo">Tomorrow</p>
            <a class="options" href="#"><li>...</li></a>
            <div class="pic-post">
              <img
                src="./../../../assets/Body/Tomorrowland_around-the-world-cartel.jpg"
                alt="post"
              />
              <div class="interactions">
                <i class="far fa-heart"></i>
                <i class="far fa-comment"></i>
                <i class="far fa-paper-plane"></i>
                <i class="far fa-bookmark mark"></i>
              </div>
              <div class="footer">
                <p class="likes">8,000 likes</p>
                <p class="footer_post">
                  <b>Tomorrow</b> Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. Impedit iste fuga doloremque laborum
                  adipisci eius nemo! Corporis, a. Fugiat nobis reiciendis nam
                  rerum provident ad esse quas possimus! Cumque, assumenda!
                </p>
                <p class="time-post">HACE 15 MINUTOS</p>
                <hr />
                <div class="comments-area">
                  <i class="far fa-smile emoji"></i>
                  <input
                    type="text"
                    class="comment-box"
                    placeholder="Agrega un comentario..."
                  />
                  <button type="button" class="btn btn-link">Publicar</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="post">
          <div class="info">
            <div class="profile-pic">
              <img
                src="./../../../assets/Body/ya-hay-fecha-para-edc-mxico-2016-body-image-1441315673.jpg"
                alt="profile-info"
              />
            </div>
            <p class="usernameInfo">edc_mex</p>
            <a class="options" href="#"><li>...</li></a>
            <div class="pic-post">
              <img src="./../../../assets/Body/descarga.jpg" alt="post" />
              <div class="interactions">
                <i class="far fa-heart"></i>
                <i class="far fa-comment"></i>
                <i class="far fa-paper-plane"></i>
                <i class="far fa-bookmark mark"></i>
              </div>
              <div class="footer">
                <p class="likes">8,000 likes</p>
                <p class="footer_post">
                  <b>edc_mex</b> Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. Impedit iste fuga doloremque laborum
                  adipisci eius nemo! Corporis, a. Fugiat nobis reiciendis nam
                  rerum provident ad esse quas possimus! Cumque, assumenda!
                </p>
                <p class="time-post">HACE 25 MINUTOS</p>
                <hr />
                <div class="comments-area">
                  <i class="far fa-smile emoji"></i>
                  <input
                    type="text"
                    class="comment-box"
                    placeholder="Agrega un comentario..."
                  />
                  <button type="button" class="btn btn-link">Publicar</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="post">
          <div class="info">
            <div class="profile-pic">
              <img
                src="./../../../assets/Body/1366_2000.jpeg"
                alt="profile-info"
              />
            </div>
            <p class="usernameInfo">apple_mx</p>
            <a class="options" href="#"><li>...</li></a>
            <div class="pic-post">
              <img
                src="./../../../assets/Body/macbook-pro-14-and-16_overview__fz0lron5xyuu_og.png"
                alt="post"
              />
              <div class="interactions">
                <i class="far fa-heart"></i>
                <i class="far fa-comment"></i>
                <i class="far fa-paper-plane"></i>
                <i class="far fa-bookmark mark"></i>
              </div>
              <div class="footer">
                <p class="likes">1,000,000 likes</p>
                <p class="footer_post">
                  <b>apple_mx</b> Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. Impedit iste fuga doloremque laborum
                  adipisci eius nemo! Corporis, a. Fugiat nobis reiciendis nam
                  rerum provident ad esse quas possimus! Cumque, assumenda!
                </p>
                <p class="time-post">HACE 1 HORA</p>
                <hr />
                <div class="comments-area">
                  <i class="far fa-smile emoji"></i>
                  <input
                    type="text"
                    class="comment-box"
                    placeholder="Agrega un comentario..."
                  />
                  <button type="button" class="btn btn-link">Publicar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="suggestions">
          <div class="profile-card">
            <div class="profile">
              <img
                src="./../../../assets/Navbar/254606245_1517423345294805_2281784650713058842_n.jpg"
                alt="pic-account"
              />
              <div class="infoProfile">
                <p class="usernameAccount">manuel_mayo344</p>
                <p class="subtext">Manuel Mayo</p>
                <button type="button" class="btn btn-link change">
                  cambiar
                </button>
              </div>
            </div>
          </div>
          <div class="suggest">
            <p class="suggestText">Sugerencias para ti</p>
            <a href="#"><p class="see">Ver todo</p></a>
          </div>
          <div class="profile-card">
            <div class="profile">
              <img
                class="picsSuggest"
                src="./../../../assets/Body/macbook-pro-14-and-16_overview__fz0lron5xyuu_og.png"
                alt="pic-account"
              />
              <div class="infoProfile">
                <p class="usernameAccount">macbook_notices</p>
                <p class="subtext">Sugerencia para ti</p>
                <button type="button" class="btn btn-link change">
                  seguir
                </button>
              </div>
            </div>
          </div>
          <div class="profile-card">
            <div class="profile">
              <img
                class="picsSuggest"
                src="./../../../assets/Body/1366_2000.jpeg"
                alt="pic-account"
              />
              <div class="infoProfile">
                <p class="usernameAccount">Apple_events</p>
                <p class="subtext">Sugerencia para ti</p>
                <button type="button" class="btn btn-link change">
                  seguir
                </button>
              </div>
            </div>
          </div>
          <div class="profile-card">
            <div class="profile">
              <img
                class="picsSuggest"
                src="./../../../assets/Body/6aed77_76cbb0219edd4e13acd8bd03daa36dff_mv2.jpg"
                alt="pic-account"
              />
              <div class="infoProfile">
                <p class="usernameAccount">tomorrowland_is_love</p>
                <p class="subtext">Sugerencia para ti</p>
                <button type="button" class="btn btn-link change">
                  seguir
                </button>
              </div>
            </div>
          </div>
          <div class="profile-card">
            <div class="profile">
              <img
                class="picsSuggest"
                src="./../../../assets/Body/Tomorrowland_around-the-world-cartel.jpg"
                alt="pic-account"
              />
              <div class="infoProfile">
                <p class="usernameAccount">music_fest</p>
                <p class="subtext">Sugerencia para ti</p>
                <button type="button" class="btn btn-link change">
                  seguir
                </button>
              </div>
            </div>
          </div>
          <div class="profile-card">
            <div class="profile">
              <img
                class="picsSuggest"
                src="./../../../assets/Body/ya-hay-fecha-para-edc-mxico-2016-body-image-1441315673.jpg"
                alt="pic-account"
              />
              <div class="infoProfile">
                <p class="usernameAccount">buho_edc</p>
                <p class="subtext">Sugerencia para ti</p>
                <button type="button" class="btn btn-link change">
                  seguir
                </button>
              </div>
            </div>
          </div>
          <div class="profile-card">
            <div class="profile">
              <img
                class="picsSuggest"
                src="./../../../assets/Body/Dark-Souls-3-1-1000x576.jpg"
                alt="pic-account"
              />
              <div class="infoProfile">
                <p class="usernameAccount">Dark souls 3</p>
                <p class="subtext">Sugerencia para ti</p>
                <button type="button" class="btn btn-link change">
                  seguir
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
