<div class="notices">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="status-wrapper">
          <div class="status-card">
            <div class="profile-picture">
              <img
                src="./../../../assets/Navbar/254606245_1517423345294805_2281784650713058842_n.jpg"
                alt="historie 1"
              />
            </div>
            <p class="username">manuel_mayo</p>
          </div>

          <div class="status-card">
            <div class="profile-picture">
              <img
                src="./../../../assets/Navbar/254606245_1517423345294805_2281784650713058842_n.jpg"
                alt="historie 1"
              />
            </div>
            <p class="username">user_name_2</p>
          </div>
          <div class="status-card">
            <div class="profile-picture">
              <img
                src="./../../../assets/Navbar/254606245_1517423345294805_2281784650713058842_n.jpg"
                alt="historie 1"
              />
            </div>
            <p class="username">user_name_3</p>
          </div>
          <div class="status-card">
            <div class="profile-picture">
              <img
                src="./../../../assets/Navbar/254606245_1517423345294805_2281784650713058842_n.jpg"
                alt="historie 1"
              />
            </div>
            <p class="username">user_name_4</p>
          </div>
          <div class="status-card">
            <div class="profile-picture">
              <img
                src="./../../../assets/Navbar/254606245_1517423345294805_2281784650713058842_n.jpg"
                alt="historie 1"
              />
            </div>
            <p class="username">user_name_5</p>
          </div>
          <div class="status-card">
            <div class="profile-picture">
              <img
                src="./../../../assets/Navbar/254606245_1517423345294805_2281784650713058842_n.jpg"
                alt="historie 1"
              />
            </div>
            <p class="username">user_name_6</p>
          </div>
          <div class="status-card">
            <div class="profile-picture">
              <img
                src="./../../../assets/Navbar/254606245_1517423345294805_2281784650713058842_n.jpg"
                alt="historie 1"
              />
            </div>
            <p class="username">user_name_7</p>
          </div>
          <div class="status-card">
            <div class="profile-picture">
              <img
                src="./../../../assets/Navbar/254606245_1517423345294805_2281784650713058842_n.jpg"
                alt="historie 1"
              />
            </div>
            <p class="username">user_name_8</p>
          </div>
        </div>

        <div class="post">
          <div class="info">
            <div class="profile-pic">
              <img
                src="./../../../assets/Navbar/254606245_1517423345294805_2281784650713058842_n.jpg"
                alt="profile-info"
              />
            </div>
            <p class="usernameInfo">manuel_mayo</p>
            <a class="options" href="#"><li>...</li></a>
            <div class="pic-post">
              <img
                src="./../../../assets/Body/Dark-Souls-3-1-1000x576.jpg"
                alt="post"
              />
              <div class="interactions">
                <i class="far fa-heart"></i>
                <i class="far fa-comment"></i>
                <i class="far fa-paper-plane"></i>
                <i class="far fa-bookmark mark"></i>
              </div>
              <div class="footer">
                <p class="likes">8,000 likes</p>
                <p class="footer_post">
                  <b>manuel_mayo344</b> Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. Impedit iste fuga doloremque laborum
                  adipisci eius nemo! Corporis, a. Fugiat nobis reiciendis nam
                  rerum provident ad esse quas possimus! Cumque, assumenda!
                </p>
                <p class="time-post">HACE 8 MINUTOS</p>
                <hr />
                <div class="comments-area">
                  <i class="far fa-smile emoji"></i>
                  <input
                    type="text"
                    class="comment-box"
                    placeholder="Agrega un comentario..."
                  />
                  <button type="button" class="btn btn-link">Publicar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">Column</div>
    </div>
  </div>
</div>
