<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        class="nav-brand"
        src="./../../../assets/Navbar/1b47f9d0e595.png"
        alt="Logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Buscar"
          aria-label="Search"
        />
      </form>
      <div class="iconBar">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"
            ><i class="fas fa-home"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"
            ><i class="fab fa-facebook-messenger"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"
            ><i class="far fa-plus-square"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"
            ><i class="far fa-compass"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"
            ><i class="far fa-heart"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <img
              class="Profile"
              src="./../../../assets/Navbar/254606245_1517423345294805_2281784650713058842_n.jpg"
              alt="Profile"
            />
          </a>
        </li>
      </div>
    </div>
  </div>
</nav>
